@media screen and (max-width: 1220px){
    #footer{
        padding: 1rem 3rem;
    }
}
@media screen and (max-width: 1050px){
    .rightContent h1{
        font-size: 1.5rem;
        margin: 0 0 16px 0;
    }
    

    
    .rightContent p{
        font-size: 0.8rem;
        margin: 0 0 16px 0;
    }
}



@media screen and (max-width: 935px){
    #footer{
        padding: 1rem 1rem;
    }
}






@media screen and (max-width: 935px){
    header ion-icon{
        display: block;
    }

    #headerUl{
        display: none;
    }   
    .welcomeSection{
        flex-direction: column;
        
    }

    .rightContent{
        padding: 2rem 0;
    }


    .rightContent h1{
        letter-spacing: 0px !important;
        margin: 0 0 30px 0;
        font-size: 2rem;
        cursor: pointer;
    }

    .rightContent p{
        color: var(--gray-color);
        margin: 0 0 30px 0;
        font-size: 1rem;
    }
}



@media screen and (max-width: 850px){
    .bottomContainer{
        padding: 0 2rem;
        flex-direction: column !important ;
    }
    .bottomItem{
        max-width: 540px;
        width: 100% !important;
        margin: 0  1rem;
    }
    .bottomItemUpperImage{
        max-width: 540px;
        width: 100%;
    }

    .portfolioCategories{
        max-width: 750px;
        grid-template:1fr 1fr 1fr/ 1fr 1fr ;
    }
}




@media screen and (max-width: 850px){
    .priceContainer{
        flex-direction: column;
        padding: 1.3rem;
    }

    .price{
        max-width: 510px !important;
        width: 100%;
        margin: 1rem !important;
    }

    .bottomContact{
        max-width: 100%;
        width: 100%;
        flex-direction: column;
        padding: 1rem !important;
    }

    #barasMarket{
        max-width: 100%;
        width: 100%;
    }

    .form{
        max-width: 100%;
        width: 100%;
    }
    .form input{
        max-width: 100%;
    }

    .topTwo{
        display: block;
    }

    .topTwo :nth-child(1){
        margin: 0 0 1rem 0 !important;
    }

    .topTwo input{
        max-width: 100% !important;
    }

    textarea{
        max-width: 100%;
    }

}


@media screen and (max-width: 810px){
    .contactContainer{
        flex-direction: column;
        margin: 2rem;
    }
    .contactItem{
        max-width: 100%;
        width: 100%;
        margin: 0;
    }
}




@media screen and (max-width: 700px){
    .carouselTitle{
        font-size: 1.7rem !important;
        margin-top: 2rem;
    }
}





@media screen and (max-width: 620px){
    .portfolioCategories{
        max-width: 360px;
        grid-template:1fr 1fr 1fr 1fr 1fr 1fr/ 1fr;
    }

    .footerItem{
        max-width: 100%;
    }

    .scrollUp{
        bottom: 20px;
        right: 20px;
    }
}





